<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT aboutusdocumenttype ANY>
<!ATTLIST aboutusdocumenttype id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1080" key="add61b0a-726d-483a-9af7-a252315bfe82" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-06T10:38:31" updateDate="2018-04-08T18:30:15" nodeName="Home Page" urlName="home-page" path="-1,1080" isDoc="" nodeType="1058" creatorName="Sylvester Behrens-Kjærtinge" writerName="admin" writerID="3" template="1057" nodeTypeAlias="homePage" isPublished="false" isDraft="">
    <metaDescription><![CDATA[Dette er meta description]]></metaDescription>
    <metaKeywords><![CDATA[meta key words here]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Site title here]]></siteTitle>
    <footer><![CDATA[footer is here]]></footer>
    <mainContent><![CDATA[<p>main content here</p>]]></mainContent>
    <projectsOverview id="1088" key="3a08a25a-2119-4bab-849a-037862b12a8b" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2018-02-12T18:38:45" updateDate="2018-02-12T20:22:43" nodeName="Project overview" urlName="project-overview" path="-1,1080,1088" isDoc="" nodeType="1073" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1072" nodeTypeAlias="projectsOverview" isPublished="true">
      <metaDescription><![CDATA[this is an overview of all projects]]></metaDescription>
      <metaKeywords><![CDATA[projects apps html xml css]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[this is an overview of all projects]]></projectsTitle>
      <projectBodyText><![CDATA[<p>this is an overview of all our awesome projects. You can see them right here on this page.</p>]]></projectBodyText>
      <projectItem id="1129" key="9acc0bf9-9832-41e3-8dfa-8e06f3ca42b9" parentID="1088" level="3" creatorID="0" sortOrder="0" createDate="2018-03-27T19:37:47" updateDate="2018-04-02T15:51:50" nodeName="hemmeligaccess" urlName="hemmeligaccess" path="-1,1080,1088,1129" isDoc="" nodeType="1078" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="false" isDraft="">
        <metaDescription><![CDATA[hemmelig]]></metaDescription>
        <metaKeywords><![CDATA[hemmelig]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>hemmeligt projekt</p>]]></projectDescription>
        <projectStatus>54</projectStatus>
        <projectTitle><![CDATA[secret project]]></projectTitle>
      </projectItem>
      <projectItem id="1130" key="24dd71dd-561d-48c9-82bd-3cea7c073037" parentID="1088" level="3" creatorID="0" sortOrder="1" createDate="2018-03-27T20:39:25" updateDate="2018-04-02T15:51:29" nodeName="App with a cat" urlName="app-with-a-cat" path="-1,1080,1088,1130" isDoc="" nodeType="1078" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="false" isDraft="">
        <metaDescription><![CDATA[hallo]]></metaDescription>
        <metaKeywords><![CDATA[haefe]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>just include a cat somehow</p>]]></projectDescription>
        <projectStatus>53</projectStatus>
        <projectTitle><![CDATA[App with a cat]]></projectTitle>
      </projectItem>
      <projectItem id="1131" key="05d7a227-17ec-476f-9710-d4c955d818c2" parentID="1088" level="3" creatorID="0" sortOrder="2" createDate="2018-03-27T20:43:50" updateDate="2018-04-02T15:43:32" nodeName="Tennis app" urlName="tennis-app" path="-1,1080,1088,1131" isDoc="" nodeType="1078" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="false">
        <metaDescription><![CDATA[tennis sport]]></metaDescription>
        <metaKeywords><![CDATA[tennis sport]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>book tenniscourts and find play partners.</p>]]></projectDescription>
        <projectStatus>54</projectStatus>
        <projectTitle><![CDATA[App for local tennis club]]></projectTitle>
      </projectItem>
      <projectItem id="1132" key="def2e879-4412-4aa4-b8fe-114b115524e2" parentID="1088" level="3" creatorID="0" sortOrder="3" createDate="2018-03-27T20:45:32" updateDate="2018-04-02T15:51:47" nodeName="Tænkeboks app" urlName="taenkeboks-app" path="-1,1080,1088,1132" isDoc="" nodeType="1078" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="false" isDraft="">
        <metaDescription><![CDATA[tænkeboks]]></metaDescription>
        <metaKeywords><![CDATA[spil dice bar game]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>tænkeboks som app spillet er også kaldet snyd</p>]]></projectDescription>
        <projectStatus>52</projectStatus>
        <projectTitle><![CDATA[Popular bar game as app]]></projectTitle>
      </projectItem>
    </projectsOverview>
    <articlesOverview id="1087" key="1bd64932-28ac-4e7b-8f83-f5e84dd56100" parentID="1080" level="2" creatorID="0" sortOrder="1" createDate="2018-02-12T18:37:40" updateDate="2018-02-12T20:23:11" nodeName="Article overview" urlName="article-overview" path="-1,1080,1087" isDoc="" nodeType="1065" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1064" nodeTypeAlias="articlesOverview" isPublished="true">
      <metaDescription><![CDATA[overview of all the articles]]></metaDescription>
      <metaKeywords><![CDATA[overview articles]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesBodyText><![CDATA[<p>This is where you find all our awesome articles</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[This is where all the articles are]]></articlesTitle>
      <articleItem id="1134" key="0a6e6eca-9168-4ec1-bbc8-194ae405e7de" parentID="1087" level="3" creatorID="0" sortOrder="0" createDate="2018-03-28T13:44:18" updateDate="2018-03-28T13:44:18" nodeName="XML tips og tricks" urlName="xml-tips-og-tricks" path="-1,1080,1087,1134" isDoc="" nodeType="1069" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
        <metaDescription><![CDATA[xml]]></metaDescription>
        <metaKeywords><![CDATA[data]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>Disse 10 tips til xml er gode</p>]]></articleContent>
        <articleTitle><![CDATA[XML tips og tricks]]></articleTitle>
      </articleItem>
      <articleItem id="1148" key="a7551222-621e-464d-bfe0-fa8e75881cc7" parentID="1087" level="3" creatorID="0" sortOrder="1" createDate="2018-04-02T14:40:05" updateDate="2018-04-02T14:40:05" nodeName="API til vejret" urlName="api-til-vejret" path="-1,1080,1087,1148" isDoc="" nodeType="1069" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
        <metaDescription><![CDATA[API til vejr]]></metaDescription>
        <metaKeywords><![CDATA[vejr meterologi api]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>Denne api er fra dmi og du kan få data til alt vejr</p>]]></articleContent>
        <articleTitle><![CDATA[APi til vejr]]></articleTitle>
      </articleItem>
      <articleItem id="1149" key="f3c8e8a8-73a2-4ae1-9bb9-bae1927b6b3e" parentID="1087" level="3" creatorID="0" sortOrder="2" createDate="2018-04-02T14:43:20" updateDate="2018-04-02T14:43:40" nodeName="CodePen - Playground for designers" urlName="codepen-playground-for-designers" path="-1,1080,1087,1149" isDoc="" nodeType="1069" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
        <metaDescription><![CDATA[Playground for designers CodePen]]></metaDescription>
        <metaKeywords><![CDATA[Codepen css javascript html]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>Check out this site, you can see others trying around with css and javascript or try yourself.</p>]]></articleContent>
        <articleTitle><![CDATA[CodePen - Playground for designers]]></articleTitle>
      </articleItem>
    </articlesOverview>
    <aboutusdocumenttype id="1098" key="24b3fe6a-235c-4060-886d-fd567624bb5b" parentID="1080" level="2" creatorID="0" sortOrder="2" createDate="2018-02-13T14:06:02" updateDate="2018-04-08T18:53:21" nodeName="About us" urlName="about-us" path="-1,1080,1098" isDoc="" nodeType="1097" creatorName="Sylvester Behrens-Kjærtinge" writerName="admin" writerID="3" template="1096" nodeTypeAlias="aboutusdocumenttype" isPublished="true">
      <metaDescription><![CDATA[about us grid]]></metaDescription>
      <metaKeywords><![CDATA[grid about us quote]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <aboutus><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "aboutus",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "About Us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "id": 2140,
                    "udi": "umb://media/ef99500a58744f5183994f47f5a0ad98",
                    "image": "/media/1006/group.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "this is about us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "this is not a great quote",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>We're connecting developers in Aarhus to make all kinds of projects</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "label": "aboutus",
          "hasConfig": false,
          "id": "33589a6d-49d8-7194-80ac-b4ebe022a58d"
        }
      ]
    }
  ]
}]]></aboutus>
    </aboutusdocumenttype>
    <contactPage id="1103" key="688d2a36-792e-45fd-a9ba-33d58674cc17" parentID="1080" level="2" creatorID="0" sortOrder="3" createDate="2018-02-20T10:54:34" updateDate="2018-02-20T11:33:08" nodeName="Contact Us" urlName="contact-us" path="-1,1080,1103" isDoc="" nodeType="1100" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1101" nodeTypeAlias="contactPage" isPublished="false">
      <metaDescription><![CDATA[ok]]></metaDescription>
      <metaKeywords><![CDATA[ok]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <message id="1140" key="08e7e2ea-a628-4f17-95c5-595da05b9f3c" parentID="1103" level="3" creatorID="0" sortOrder="0" createDate="2018-04-01T15:15:23" updateDate="2018-04-01T15:15:23" nodeName="awdawd" urlName="awdawd" path="-1,1080,1103,1140" isDoc="" nodeType="1109" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="0" nodeTypeAlias="message" isPublished="true">
        <subject><![CDATA[efqefawdaw]]></subject>
        <email><![CDATA[wegwegew]]></email>
        <messageContent><![CDATA[awdawd]]></messageContent>
        <messageName><![CDATA[awdaw]]></messageName>
        <umbracoNaviHide>1</umbracoNaviHide>
      </message>
      <message id="1141" key="91aca4d5-51b7-41d8-a4b7-56d849bab0ee" parentID="1103" level="3" creatorID="0" sortOrder="1" createDate="2018-04-01T15:19:14" updateDate="2018-04-01T15:19:14" nodeName="awdad" urlName="awdad" path="-1,1080,1103,1141" isDoc="" nodeType="1109" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="0" nodeTypeAlias="message" isPublished="true">
        <subject><![CDATA[wgegwe]]></subject>
        <email><![CDATA[wegge]]></email>
        <messageContent><![CDATA[afaefawf]]></messageContent>
        <messageName><![CDATA[asaw]]></messageName>
        <umbracoNaviHide>1</umbracoNaviHide>
      </message>
      <message id="1142" key="ca193963-1dc3-42aa-8156-1091c99703d2" parentID="1103" level="3" creatorID="0" sortOrder="2" createDate="2018-04-01T17:32:42" updateDate="2018-04-01T17:32:42" nodeName="awf" urlName="awf" path="-1,1080,1103,1142" isDoc="" nodeType="1109" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="0" nodeTypeAlias="message" isPublished="false" isDraft="">
        <subject><![CDATA[awf]]></subject>
        <email><![CDATA[awd@gekf.dk]]></email>
        <messageContent><![CDATA[wegwegwg]]></messageContent>
        <messageName><![CDATA[awdg]]></messageName>
      </message>
      <message id="1143" key="376f42cd-380d-4b73-886b-5633593ce1a8" parentID="1103" level="3" creatorID="0" sortOrder="3" createDate="2018-04-01T17:33:55" updateDate="2018-04-01T17:33:55" nodeName="aef" urlName="aef" path="-1,1080,1103,1143" isDoc="" nodeType="1109" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="0" nodeTypeAlias="message" isPublished="false" isDraft="">
        <subject><![CDATA[aef]]></subject>
        <email><![CDATA[hej@awdg.com]]></email>
        <messageContent><![CDATA[awdgg]]></messageContent>
        <messageName><![CDATA[awdg]]></messageName>
      </message>
      <message id="1144" key="74bb62a0-36bb-43cc-b87c-0410dbe9201c" parentID="1103" level="3" creatorID="0" sortOrder="4" createDate="2018-04-01T17:35:34" updateDate="2018-04-01T17:35:34" nodeName="wgrg" urlName="wgrg" path="-1,1080,1103,1144" isDoc="" nodeType="1109" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="0" nodeTypeAlias="message" isPublished="false" isDraft="">
        <subject><![CDATA[wgrg]]></subject>
        <email><![CDATA[awdawd@awda.dk]]></email>
        <messageContent><![CDATA[wefwrg]]></messageContent>
        <messageName><![CDATA[adawg]]></messageName>
      </message>
      <message id="1145" key="b2ebd990-0680-443f-aab5-f0d29daec71e" parentID="1103" level="3" creatorID="0" sortOrder="5" createDate="2018-04-01T18:31:22" updateDate="2018-04-01T18:31:22" nodeName="awdg" urlName="awdg" path="-1,1080,1103,1145" isDoc="" nodeType="1109" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="0" nodeTypeAlias="message" isPublished="false" isDraft="">
        <subject><![CDATA[awdg]]></subject>
        <email><![CDATA[awd@gksk.dk]]></email>
        <messageContent><![CDATA[wregerreg]]></messageContent>
        <messageName><![CDATA[awhd]]></messageName>
      </message>
      <message id="1146" key="44145dd3-d7b3-4c65-9644-a3c8dd1bb204" parentID="1103" level="3" creatorID="0" sortOrder="6" createDate="2018-04-01T18:36:25" updateDate="2018-04-01T18:36:25" nodeName="awdg (1)" urlName="awdg-1" path="-1,1080,1103,1146" isDoc="" nodeType="1109" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="0" nodeTypeAlias="message" isPublished="false" isDraft="">
        <subject><![CDATA[awdg]]></subject>
        <email><![CDATA[agg@egg.dk]]></email>
        <messageContent><![CDATA[awfsegsrg]]></messageContent>
        <messageName><![CDATA[awdg]]></messageName>
      </message>
      <message id="1147" key="30bd8eac-eab0-4f55-8631-a23aaabfe23e" parentID="1103" level="3" creatorID="0" sortOrder="7" createDate="2018-04-01T18:36:28" updateDate="2018-04-01T18:36:28" nodeName="awdg (2)" urlName="awdg-2" path="-1,1080,1103,1147" isDoc="" nodeType="1109" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="0" nodeTypeAlias="message" isPublished="false" isDraft="">
        <subject><![CDATA[awdg]]></subject>
        <email><![CDATA[agg@egg.dk]]></email>
        <messageContent><![CDATA[awfsegsrg]]></messageContent>
        <messageName><![CDATA[awdg]]></messageName>
      </message>
      <message id="2141" key="cba8853b-1a00-42ce-a35a-31abdfc1c9bb" parentID="1103" level="3" creatorID="0" sortOrder="8" createDate="2018-04-08T19:18:09" updateDate="2018-04-08T19:18:09" nodeName="testing" urlName="testing" path="-1,1080,1103,2141" isDoc="" nodeType="1109" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="0" nodeTypeAlias="message" isPublished="false" isDraft="">
        <subject><![CDATA[testing]]></subject>
        <email><![CDATA[test@email.com]]></email>
        <messageContent><![CDATA[hej jeg tester]]></messageContent>
        <messageName><![CDATA[Sylvester]]></messageName>
      </message>
      <message id="2142" key="9f08c9a4-d0db-4ba5-b225-65b97c6fd93c" parentID="1103" level="3" creatorID="0" sortOrder="9" createDate="2018-04-08T19:18:18" updateDate="2018-04-08T19:18:18" nodeName="testing (1)" urlName="testing-1" path="-1,1080,1103,2142" isDoc="" nodeType="1109" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="0" nodeTypeAlias="message" isPublished="false" isDraft="">
        <subject><![CDATA[testing]]></subject>
        <email><![CDATA[test@email.com]]></email>
        <messageContent><![CDATA[hej jeg tester]]></messageContent>
        <messageName><![CDATA[Sylvester]]></messageName>
      </message>
      <message id="2143" key="3043b19c-486f-460f-b4e7-4f79fcaf6682" parentID="1103" level="3" creatorID="0" sortOrder="10" createDate="2018-04-08T19:18:38" updateDate="2018-04-08T19:18:38" nodeName="awdwf" urlName="awdwf" path="-1,1080,1103,2143" isDoc="" nodeType="1109" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="0" nodeTypeAlias="message" isPublished="false" isDraft="">
        <subject><![CDATA[awdwf]]></subject>
        <email><![CDATA[awd@gfef.dk]]></email>
        <messageContent><![CDATA[segegwe]]></messageContent>
        <messageName><![CDATA[awd]]></messageName>
      </message>
      <message id="2144" key="a6375565-b12a-4c6d-886b-daaa76392c39" parentID="1103" level="3" creatorID="0" sortOrder="11" createDate="2018-04-08T19:19:01" updateDate="2018-04-08T19:19:01" nodeName="wef" urlName="wef" path="-1,1080,1103,2144" isDoc="" nodeType="1109" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="0" nodeTypeAlias="message" isPublished="false" isDraft="">
        <subject><![CDATA[wef]]></subject>
        <email><![CDATA[wegw@awdaw.dk]]></email>
        <messageContent><![CDATA[wgwrgw]]></messageContent>
        <messageName><![CDATA[awd]]></messageName>
      </message>
    </contactPage>
    <login id="1127" key="f9660082-3694-452f-a561-97b668074e65" parentID="1080" level="2" creatorID="0" sortOrder="4" createDate="2018-03-27T18:11:28" updateDate="2018-03-27T18:11:31" nodeName="Log Ind" urlName="log-ind" path="-1,1080,1127" isDoc="" nodeType="1126" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1123" nodeTypeAlias="login" isPublished="false">
      <metaDescription><![CDATA[log ind]]></metaDescription>
      <metaKeywords><![CDATA[log ind]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <members id="1138" key="f4c590de-609a-4d77-81ad-3b0a0d3bf7f5" parentID="1080" level="2" creatorID="0" sortOrder="5" createDate="2018-03-28T15:47:42" updateDate="2018-03-28T15:47:42" nodeName="Members" urlName="members" path="-1,1080,1138" isDoc="" nodeType="1136" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1135" nodeTypeAlias="members" isPublished="false">
      <metaDescription><![CDATA[member list]]></metaDescription>
      <metaKeywords><![CDATA[member list]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
  </homePage>
  <projectItem id="1082" key="a4e3c433-b890-4090-99f9-31c2f3d30eb0" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-02-12T18:02:01" updateDate="2018-02-12T18:32:45" nodeName="tennis app" urlName="tennis-app" path="-1,1082" isDoc="" nodeType="1078" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
    <metaDescription><![CDATA[app that learn you how to play tennis]]></metaDescription>
    <metaKeywords><![CDATA[app tennis android learn teach]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <projectDescription><![CDATA[<p>this project will make an android app that taches you tennis</p>]]></projectDescription>
    <projectTitle><![CDATA[An app that learns you to play tennis]]></projectTitle>
  </projectItem>
  <projectItem id="1083" key="1ca3c74a-a5ac-4f15-b981-09ad4d80f438" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2018-02-12T18:03:46" updateDate="2018-02-12T21:44:28" nodeName="tænkeboks app" urlName="taenkeboks-app" path="-1,1083" isDoc="" nodeType="1078" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
    <metaDescription><![CDATA[tænkeboks spillet nu som ios app]]></metaDescription>
    <metaKeywords><![CDATA[app ios tænkeboks snyd tærninger]]></metaKeywords>
    <umbracoNaviHide>1</umbracoNaviHide>
    <projectDescription><![CDATA[<p>projektet går ud på at lave tænkeboks spillet som app</p>]]></projectDescription>
    <projectTitle><![CDATA[Tænkeboks spillet nu som app]]></projectTitle>
  </projectItem>
  <articleItem id="1084" key="5456008d-440b-46a5-a862-bb96eb340591" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2018-02-12T18:05:35" updateDate="2018-02-12T18:32:59" nodeName="SASS er det nye" urlName="sass-er-det-nye" path="-1,1084" isDoc="" nodeType="1069" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
    <metaDescription><![CDATA[sass når du skriver css]]></metaDescription>
    <metaKeywords><![CDATA[layout sass css html front end]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <articleContent><![CDATA[<p>prøv at bruge sass det er mega smart</p>]]></articleContent>
    <articleTitle><![CDATA[Sass er det nye]]></articleTitle>
  </articleItem>
  <articleItem id="1085" key="9f378950-2449-471b-a37c-09aab604e0d9" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2018-02-12T18:06:43" updateDate="2018-02-12T18:06:43" nodeName="XML tips and tricks" urlName="xml-tips-and-tricks" path="-1,1085" isDoc="" nodeType="1069" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
    <metaDescription><![CDATA[XML tips and tricks]]></metaDescription>
    <metaKeywords><![CDATA[xml android app androidstudio]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <articleContent><![CDATA[<p>her er 72 XML tips and tricks som du måske slet ikke kender!</p>]]></articleContent>
    <articleTitle><![CDATA[XML tips and tricks]]></articleTitle>
  </articleItem>
  <articleItem id="1086" key="a38f23fd-2f04-44fe-bf69-3c4fa2d449f3" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2018-02-12T18:08:07" updateDate="2018-02-12T18:08:07" nodeName="discord article" urlName="discord-article" path="-1,1086" isDoc="" nodeType="1069" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
    <metaDescription><![CDATA[discord er det nye skype]]></metaDescription>
    <metaKeywords><![CDATA[discord tale samtale telefon kommunikation]]></metaKeywords>
    <umbracoNaviHide>1</umbracoNaviHide>
    <articleContent><![CDATA[<p>skype er blevet skod. discord er det nye, du kan også dele din skærm</p>]]></articleContent>
    <articleTitle><![CDATA[discord - den gode måde at tale sammen over nettet]]></articleTitle>
  </articleItem>
</root>